<h3>Doctors-Binder</h3>
<form>
  <fieldset class="form-group">
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Patient Id">
  </fieldset>
  <fieldset class="form-group">
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Patient Name">
  </fieldset>
 <fieldset class="form-group">
    <label for="exampleTextarea">NotePad</label>
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
  </fieldset>
  <button class="createNote">Create Note</button>
  <button class="editnote">Edit Note</button>
</form>